@import './../helpers/mixins';
footer{
    background-color: var(--black-bg);
    margin-top: 12em;
    nav{
        .container{
            padding-top: 4.5em;
            border-bottom: none;
        }
    }
    .container div{
        @include flex;
        margin: 3em 0 2em;
        p{
            width:47%;
        }
        ul{
            width:12%;
            @include flex;
            margin-top: 4em;
            li:hover{
                color:var(--orange)
            }
        }
    }
    p{
        color:var(--dark-grey);
        line-height: 1.4;
        padding-bottom: 2em;
    }
}