@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
@import "../helpers/mixins";
@import "../helpers/place_holders";
*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: "Manrope";
}
:root{
    --black-bg:#191919;
    --orange: #d77033;
    --very-light-orange: #e4986d;
    --light-orange:#dd7f48;
    --nav-border:#8b8b8b;
    --dark-grey:#7f7f7f;
    --very-light-gray:#f0f0f0;
    --txt-black:#181818;
    --light-gray:#d3d1d1;
    --hard-light-gray:#f7f7f7;
    --green:#38a169;
}
.container{
    width:1170px;
    margin:auto;
    @media (max-width:769px){
        width:90%;
    }
}
a{
    text-decoration: none;
    text-transform: uppercase;
}
ul{list-style: none;}
p{
    @include font-param(1em,300);
    color: var(--nav-border);
    line-height: 1.7;
}
h1{text-transform: uppercase}
input{
    outline:none;
    border: none;
}