@import './../helpers/mixins';
nav{
   background-color: var(--black-bg);
   .container{
      padding:1.5em 0;
      border-bottom: 1px solid var(--nav-border);
      display: flex;
      justify-content: space-between;
   }
   ul{
    display: flex;
      li{
         font-weight: 500;
         cursor: pointer;
         a{
            color:white;
            transition: color ease .7s;
            &:hover{
               color:var(--orange);
            }
         }
         &:not(:last-child){
            margin-right: 3.5em;
         }
      }
   }
   .nav-cart{
      position: relative;
      span{
         position: absolute;
         width:14px;
         height: 14px;
         top:0;
         left:0;
         transform: translate(80%,-50%);
         text-align: center;
         color:white;
         @include font-param(9px,500);
         border-radius: 50%;
         background-color: var(--orange);
      }
   }
   img[alt="cart"]{
      cursor: pointer;
   }
}