@import './../helpers/mixins';
@import './../helpers/place_holders';
.product-details{
    padding:2em 0;
    img{
        border-radius: 12px;           
    }
    .intro{
        margin: 2em 0;
        @include flex;
        img{
            width:50%;
        }
        .add-product{
            @extend %product-intro;
            p{
                margin-bottom: 3em
            }
            .price{
                @include font-param(1.3em,700)
            }
            >div{
                @include flex(row,baseline);
                margin-top: 2em;
                @media (max-width:769px){
                    flex-direction: column;
                }
                .control{
                    @extend %control;
                    margin-right: 2em;
                    @media (max-width:769px){
                        margin: {
                            right:0;
                            bottom: 1.5em;
                        }
                    }
                    span{
                        padding: 0.6em .7em;
                        &:nth-child(2){
                            padding : {
                                left:0.8em;
                                right:0.8em
                            }
                        }
                    }
                }
            }
        }   
        @media (max-width:769px){
            flex-direction: column;
            img{width: 100%;}
        }
    }
    .features-inbox{
        @include flex;
        margin: 10em 0;
        h1{
            margin-bottom: 1.5em;
        }
        .features{
            width:60%;
        }
        .in-box{
            width:30%;
            li{
                color:var(--nav-border);
                margin-bottom: 1em;
                span{
                    color:var(--orange);
                    margin-right:1.5em;
                    font-weight: 600;
                }
            }
        }
        @media (max-width:769px){
            flex-direction: column;
            margin-top:4em;
            text-align: center;
            .features,
            .in-box{width:100%;}
            .in-box{margin-top: 3.4em}
        }
    }
    .gallery{
        @include flex;
        div{
            width:41%;
            @include flex(column);
        }
        >img{
            width:57%;
        }
        @media (max-width:769px){
            flex-direction: column;
            div,
            >img{
                width: 100%;
            }
            img{margin-bottom: 1.5em;}
        }
    }
    .others{
        margin-top: 8em;
        text-align: center;
        @media (max-width:769px){
            margin-top: 4em;
        }
        .suggestions {
            @include flex;
            margin-top: 3em;
            .sugg-item{
                width:32%;
                text-align: center;
                img{
                    width:100%;
                }
                h1{
                    margin:1.3em 0;
                }
            }
            @media (max-width:769px){
                flex-direction: column;
                .sugg-item{
                    width:100%;
                    margin-bottom: 3em;
                }
            }
        }
    }
}