@mixin flex($direction:row,$content:space-between) {
    display: flex;
    flex-direction: $direction;
    justify-content: $content;
}
@mixin font-param($size,$weight:400){
    font-size: $size;
    font-weight: $weight;
}
@mixin product-btn($color-bg,$color-bgx,$color,$colorx){
    padding: .7em 2.5em;
    @include font-param(1em,600);
    background-color: $color-bg;
    color:$color;
    text-transform: uppercase;
    transition: background-color ease 0.7s ;
    cursor: pointer;
    &:hover{
        background-color: $color-bgx;
        color:$colorx
    }
}
@mixin breakpoints($point) {
    @if $point == mobile {
      @media (max-width: 767px) {
        @content;
      }
    } @else if $point == small {
      @media (min-width: 768px) and (max-width: 991px) {
        @content;
      }
    } @else if $point == medium {
      @media (min-width: 992px) and (max-width: 1199px) {
        @content;
      }
    } @else if $point == large {
      @media (min-width: 1200px) {
        @content;
      }
    }
  }