%product-intro{
    width: 40%;
    margin-top: 6em;
    h1{
        @include font-param(2.2em,600);
        line-height: 1.2;
        &:first-of-type{
            margin-top: .5em;
        }
        &:last-of-type{
            margin-bottom: 1em;
        }
    }
}
%control{
    @include flex;
    background-color: var(--very-light-gray);
    span{
        &:not(:nth-child(2)){
            cursor: pointer;
            transition: background-color 0.4s ease;
            font-weight: 500;
            padding: {
                right:1em;
                left:1em;
            }
            &:hover{
                background-color: var(--light-gray);
                color:var(--orange)
            } 

        }
    }
}
%input{
    height: 4.5em;
    border:1px solid var(--light-gray);
    border-radius: .8em;
}
%item{
    @include flex;
    text-align: left;
    img{
        width:3em;
        margin-right: .7em;
        border-radius: 5px;
    }
}
%scrollBar{
    &::-webkit-scrollbar{
        width:10px;
    }
    /* Track */
    &::-webkit-scrollbar-track {
        background-color: white;
        border-radius: 12px;
    }
    
    /* Handle */
    &::-webkit-scrollbar-thumb {
        width:18px;
        border-radius: 12px;
        background-color:var(--orange);
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}