%product-intro{
    width: 40%;
    margin-top: 6em;
    h1{
        @include font-param(2.2em,600);
        line-height: 1.2;
        &:first-of-type{
            margin-top: .5em;
        }
        &:last-of-type{
            margin-bottom: 1em;
        }
    }
}
%control{
    @include flex;
    background-color: var(--very-light-gray);
    span{
        &:not(:nth-child(2)){
            cursor: pointer;
            transition: background-color 0.4s ease;
            font-weight: 500;
            padding: {
                right:1em;
                left:1em;
            }
            &:hover{
                background-color: var(--light-gray);
                color:var(--orange)
            } 

        }
    }
}