@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
}

:root {
  --black-bg:#191919;
  --orange: #d77033;
  --very-light-orange: #e4986d;
  --light-orange:#dd7f48;
  --nav-border:rgb(139, 139, 139);
  --dark-grey:rgb(127, 127, 127);
  --very-light-gray:rgb(240, 240, 240);
  --txt-black:#181818;
  --light-gray:rgb(211, 209, 209);
}

.container {
  width: 1170px;
  margin: auto;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

p {
  font-size: 1em;
  font-weight: 300;
  color: var(--nav-border);
  line-height: 1.7;
}

h1 {
  text-transform: uppercase;
}

.see-product-btn {
  padding: 0.7em 2.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--orange);
  color: white;
  text-transform: uppercase;
  transition: background-color ease 0.7s;
  cursor: pointer;
}
.see-product-btn:hover {
  background-color: var(--very-light-orange);
  color: white;
}

.new {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.6em;
  color: var(--orange);
}

nav {
  background-color: var(--black-bg);
}
nav .container {
  padding: 1.5em 0;
  border-bottom: 1px solid var(--nav-border);
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
nav ul li {
  font-weight: 500;
  cursor: pointer;
}
nav ul li a {
  color: white;
  transition: color ease 0.7s;
}
nav ul li a:hover {
  color: var(--orange);
}
nav ul li:not(:last-child) {
  margin-right: 3.5em;
}
nav .nav-cart {
  position: relative;
}
nav .nav-cart span {
  position: absolute;
  width: 1.2em;
  height: 1.3em;
  top: -0.5em;
  right: -0.5em;
  text-align: center;
  color: white;
  font-size: 0.9em;
  border-radius: 50%;
  background-color: var(--orange);
}
nav img[alt=cart] {
  cursor: pointer;
}

.cart-container .cart .cart-item .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--very-light-gray);
}
.cart-container .cart .cart-item .control span:not(:nth-child(2)) {
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-weight: 500;
  padding-right: 1em;
  padding-left: 1em;
}
.cart-container .cart .cart-item .control span:not(:nth-child(2)):hover {
  background-color: var(--light-gray);
  color: var(--orange);
}

.cart-container {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.cart-container.display {
  display: block;
}
.cart-container .cart {
  position: fixed;
  right: 4em;
  top: 6em;
  width: 30em;
  border-radius: 16px;
  padding: 0.5em 2em 2em;
  margin-top: 0.5em;
  height: max-content;
  text-align: center;
  background-color: white;
}
.cart-container .cart .close {
  text-align: right;
  cursor: pointer;
}
.cart-container .cart .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.cart-container .cart .header h1 {
  font-size: 1.2em;
}
.cart-container .cart .cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
}
.cart-container .cart .cart-item .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
}
.cart-container .cart .cart-item .item img {
  width: 3em;
  margin-right: 2em;
}
.cart-container .cart .cart-item .control {
  height: max-content;
}
.cart-container .cart .cart-item .control span {
  padding: 0.3em 0.7em;
}
.cart-container .cart .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em 0 2.5em;
}

.home #part-one {
  padding: 2em 0;
  background-color: var(--black-bg);
  color: white;
}
.home #part-one .container {
  background-image: url(./../assets/images/image-hero.jpg);
  background-size: cover;
  background-position-y: -4em;
  background-position-x: 5em;
}
.home #part-one .container > div {
  width: 50%;
  padding-top: 8em;
  padding-bottom: 5em;
}
.home #part-one .container > div span {
  letter-spacing: 10px;
  color: var(--dark-grey);
  font-weight: 500;
}
.home #part-one .container > div h1 {
  font-size: 4em;
  font-weight: 700;
}
.home #part-one .container > div h1:first-child {
  margin-top: 2em;
}
.home #part-one .container > div p {
  color: var(--dark-grey);
  width: 64%;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 2em;
  margin-bottom: 4em;
}
.home #part-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home #part-two #zx7-btn {
  padding: 0.7em 2.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: transparent;
  color: var(--txt-black);
  text-transform: uppercase;
  transition: background-color ease 0.7s;
  cursor: pointer;
  border: 1px solid var(--black-bg);
  margin-top: 2.2em;
}
.home #part-two #zx7-btn:hover {
  background-color: var(--black-bg);
  color: white;
}
.home #part-two #part-two-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background: var(--light-orange) url(./../assets/images/pattern-circles.svg) no-repeat;
  padding: 4em;
  padding-left: 8em;
  padding-right: 6em;
  border-radius: 12px;
}
.home #part-two #part-two-1 img {
  width: 40%;
  margin-bottom: -4.4em;
}
.home #part-two #part-two-1 div {
  width: 50%;
}
.home #part-two #part-two-1 div h1 {
  font-size: 4.5em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
}
.home #part-two #part-two-1 div p {
  font-size: 1em;
  font-weight: 200;
  color: var(--very-light-gray);
  margin: 1.2em 0 4em;
  width: 80%;
  word-spacing: 4px;
}
.home #part-two #part-two-1 div #zx9-btn {
  padding: 0.7em 2.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: black;
  color: white;
  text-transform: uppercase;
  transition: background-color ease 0.7s;
  cursor: pointer;
}
.home #part-two #part-two-1 div #zx9-btn:hover {
  background-color: white;
  color: black;
}
.home #part-two #part-two-2 {
  margin: 3em 0;
  height: 300px;
  border-radius: 12px;
  background: url(./../assets/images/image-speaker-zx7.jpg) no-repeat;
  background-size: cover;
}
.home #part-two #part-two-2 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  place-items: center;
  place-content: center;
}
.home #part-two #part-two-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4em;
}
.home #part-two #part-two-3 img, .home #part-two #part-two-3 div {
  border-radius: 15px;
  width: 47%;
}
.home #part-two #part-two-3 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--very-light-gray);
  place-items: center;
  place-content: center;
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12em 0 8em;
}
.categories div {
  background-color: var(--very-light-gray);
  width: 30%;
  text-align: center;
  padding-bottom: 2.5em;
  color: var(--txt-black);
  border-radius: 1em;
}
.categories div img[alt=category-img] {
  width: 40%;
  margin-top: -3em;
}
.categories div h1 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.categories div a {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--txt-black);
  transition: color 0.7s;
}
.categories div a:hover {
  color: var(--orange);
}
.categories div a img {
  margin-left: 10px;
}

.products-page > .container .product-presentation div {
  width: 40%;
  margin-top: 6em;
}
.products-page > .container .product-presentation div h1 {
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.2;
}
.products-page > .container .product-presentation div h1:first-of-type {
  margin-top: 0.5em;
}
.products-page > .container .product-presentation div h1:last-of-type {
  margin-bottom: 1em;
}

.products-page {
  color: var(--txt-black);
}
.products-page header {
  background-color: var(--black-bg);
  height: 12em;
  display: flex;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  place-items: center;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 3em;
}
.products-page > .container {
  display: grid;
  gap: 8em;
}
.products-page > .container .product-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.products-page > .container .product-presentation:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
.products-page > .container .product-presentation img {
  width: 50%;
  border-radius: 1em;
}
.products-page > .container .product-presentation div p {
  margin-bottom: 4em;
}
.products-page .categories {
  margin: 2em 0;
}

.product-details .intro .add-product {
  width: 40%;
  margin-top: 6em;
}
.product-details .intro .add-product h1 {
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.2;
}
.product-details .intro .add-product h1:first-of-type {
  margin-top: 0.5em;
}
.product-details .intro .add-product h1:last-of-type {
  margin-bottom: 1em;
}

.product-details .intro .add-product > div .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--very-light-gray);
}
.product-details .intro .add-product > div .control span:not(:nth-child(2)) {
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-weight: 500;
  padding-right: 1em;
  padding-left: 1em;
}
.product-details .intro .add-product > div .control span:not(:nth-child(2)):hover {
  background-color: var(--light-gray);
  color: var(--orange);
}

.product-details {
  padding: 2em 0;
}
.product-details img {
  border-radius: 12px;
}
.product-details .go-back {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}
.product-details .go-back:hover {
  text-decoration: underline;
}
.product-details .intro {
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-details .intro img {
  width: 50%;
}
.product-details .intro .add-product p {
  margin-bottom: 3em;
}
.product-details .intro .add-product .price {
  font-size: 1.3em;
  font-weight: 700;
}
.product-details .intro .add-product > div {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-top: 2em;
}
.product-details .intro .add-product > div .control {
  margin-right: 2em;
}
.product-details .intro .add-product > div .control span {
  padding: 0.6em 0.7em;
}
.product-details .intro .add-product > div .control span:nth-child(2) {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
.product-details .features-inbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10em 0;
}
.product-details .features-inbox h1 {
  margin-bottom: 1.5em;
}
.product-details .features-inbox .features {
  width: 60%;
}
.product-details .features-inbox .in-box {
  width: 30%;
}
.product-details .features-inbox .in-box li {
  color: var(--nav-border);
  margin-bottom: 1em;
}
.product-details .features-inbox .in-box li span {
  color: var(--orange);
  margin-right: 1.5em;
  font-weight: 600;
}
.product-details .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-details .gallery div {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-details .gallery > img {
  width: 57%;
}
.product-details .others {
  margin-top: 8em;
  text-align: center;
}
.product-details .others .suggestions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3em;
}
.product-details .others .suggestions .sugg-item {
  width: 32%;
  text-align: center;
}
.product-details .others .suggestions .sugg-item img {
  width: 100%;
}
.product-details .others .suggestions .sugg-item h1 {
  margin: 1.3em 0;
}

#best-gear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
#best-gear img, #best-gear div {
  width: 45%;
}
#best-gear img {
  border-radius: 20px;
}
#best-gear div {
  margin-top: 10em;
}
#best-gear div h1 {
  font-size: 2.8em;
  font-weight: 600;
  line-height: 1;
}
#best-gear div h1 span {
  color: var(--orange);
}
#best-gear div p {
  font-size: 1em;
  font-weight: 300;
  color: var(--nav-border);
  margin-top: 3em;
  line-height: 1.6;
}

footer {
  background-color: var(--black-bg);
  margin-top: 12em;
}
footer nav .container {
  padding: 0;
  border-bottom: none;
}
footer nav .container > img {
  padding-top: 4.4em;
  border-top: 5px solid var(--orange);
}
footer nav .container ul {
  padding-top: 4.4em;
}
footer .container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em 0 2em;
}
footer .container div p {
  width: 47%;
}
footer .container div ul {
  width: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4em;
}
footer .container div ul li:hover {
  color: var(--orange);
}
footer p {
  color: var(--dark-grey);
  line-height: 1.4;
  padding-bottom: 2em;
}

/*# sourceMappingURL=index.css.map */
