@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;400;500;600;700&display=swap");
body {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
  width: 18px;
  border-radius: 12px;
  background-color: var(--orange);
}
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Manrope";
}

:root {
  --black-bg:#191919;
  --orange: #d77033;
  --very-light-orange: #e4986d;
  --light-orange:#dd7f48;
  --nav-border:#8b8b8b;
  --dark-grey:#7f7f7f;
  --very-light-gray:#f0f0f0;
  --txt-black:#181818;
  --light-gray:#d3d1d1;
  --hard-light-gray:#f7f7f7;
  --green:#38a169;
}

.container {
  width: 1170px;
  margin: auto;
}
@media (max-width: 769px) {
  .container {
    width: 90%;
  }
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

ul {
  list-style: none;
}

p {
  font-size: 1em;
  font-weight: 300;
  color: var(--nav-border);
  line-height: 1.7;
}

h1 {
  text-transform: uppercase;
}

input {
  outline: none;
  border: none;
}

nav {
  background-color: var(--black-bg);
}
nav .container {
  padding: 1.5em 0;
  border-bottom: 1px solid var(--nav-border);
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
}
@media (max-width: 769px) {
  nav ul {
    display: none;
  }
}
nav ul li {
  font-weight: 500;
  cursor: pointer;
}
nav ul li a {
  color: white;
  transition: color ease 0.7s;
}
nav ul li a:hover {
  color: var(--orange);
}
nav ul li:not(:last-child) {
  margin-right: 3.5em;
}
nav .nav-cart {
  position: relative;
}
nav .nav-cart span {
  position: absolute;
  width: 14px;
  height: 14px;
  top: 0;
  left: 0;
  transform: translate(80%, -50%);
  text-align: center;
  color: white;
  font-size: 9px;
  font-weight: 500;
  border-radius: 50%;
  background-color: var(--orange);
}
nav img[alt=cart] {
  cursor: pointer;
}
@media (max-width: 769px) {
  nav img[alt=logo] {
    margin-left: 30%;
  }
}
nav .mobile {
  z-index: 5;
  display: none;
  position: absolute;
  width: 100%;
}
nav .mobile .menu {
  display: none;
}
nav .mobile .menu.show {
  display: flex;
}
nav .mobile .menu .categories {
  background-color: white;
  padding: 2em 0;
}
@media (max-width: 769px) {
  nav .mobile .menu .categories {
    margin: 3.5em 0 0;
  }
}
@media (max-width: 767px) {
  nav .mobile .menu .categories div {
    margin-bottom: 1.5em;
  }
}
@media (max-width: 769px) {
  nav .mobile .menu .categories div img[alt=category-img] {
    margin-top: -1em;
  }
}
@media (max-width: 769px) {
  nav .mobile {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  nav .mobile .toggle {
    position: relative;
    left: 5%;
  }
  nav .mobile .toggle .toggle-btn {
    position: absolute;
  }
  nav .mobile .toggle .toggle-btn:last-child {
    display: none;
  }
  nav .mobile .container {
    width: 100%;
    border: none;
  }
}

.cart-container .cart .cart-item .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--very-light-gray);
}
.cart-container .cart .cart-item .control span:not(:nth-child(2)) {
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-weight: 500;
  padding-right: 1em;
  padding-left: 1em;
}
.cart-container .cart .cart-item .control span:not(:nth-child(2)):hover {
  background-color: var(--light-gray);
  color: var(--orange);
}

.cart-container .cart .cart-item .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.cart-container .cart .cart-item .item img {
  width: 3em;
  margin-right: 0.7em;
  border-radius: 5px;
}

body, .cart-container .cart {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar, .cart-container .cart::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track, .cart-container .cart::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb, .cart-container .cart::-webkit-scrollbar-thumb {
  width: 18px;
  border-radius: 12px;
  background-color: var(--orange);
}
body ::-webkit-scrollbar-thumb:hover, .cart-container .cart ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.cart-container {
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 20;
}
.cart-container.display {
  display: block;
}
.cart-container .cart {
  position: fixed;
  right: 6em;
  top: 4.4em;
  width: 24em;
  border-radius: 16px;
  padding: 0.5em 2em 2em;
  margin-top: 0.5em;
  height: 25em;
  max-height: 40em;
  overflow-y: scroll;
  text-align: center;
  background-color: white;
}
.cart-container .cart .close {
  text-align: right;
  cursor: pointer;
}
.cart-container .cart .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 0.5em;
  margin-bottom: 2em;
}
.cart-container .cart .header h1 {
  font-size: 1.2em;
}
.cart-container .cart .header > span {
  font-size: 1em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}
.cart-container .cart .header > span:hover {
  text-decoration: underline;
}
.cart-container .cart .cart-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  place-items: center;
  margin-bottom: 1em;
}
.cart-container .cart .cart-item .control {
  height: max-content;
}
.cart-container .cart .cart-item .control span {
  padding: 0.3em 0.7em;
}
.cart-container .cart .total {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1.5em 0 2.5em;
}
.cart-container .cart .empty h1 {
  font-size: 1.2em;
  font-weight: 500;
  color: var(--dark-grey);
}
.cart-container .cart .empty img {
  width: 5em;
  margin-top: 2em;
}

.home #part-one {
  padding: 2em 0;
  background-color: var(--black-bg);
  color: white;
}
.home #part-one .container {
  background-image: url(./../assets/images/image-hero.jpg);
  background-size: cover;
  background-position-y: -4em;
  background-position-x: 5em;
}
@media (max-width: 769px) {
  .home #part-one .container {
    background-position-y: -4em;
    background-position-x: -25em;
  }
}
.home #part-one .container > div {
  width: 50%;
  padding-top: 8em;
  padding-bottom: 5em;
}
@media (max-width: 769px) {
  .home #part-one .container > div {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
}
.home #part-one .container > div span {
  letter-spacing: 10px;
  color: var(--dark-grey);
  font-weight: 500;
}
.home #part-one .container > div h1 {
  font-size: 4em;
  font-weight: 700;
}
.home #part-one .container > div h1:first-child {
  margin-top: 2em;
}
@media (max-width: 769px) {
  .home #part-one .container > div h1 {
    font-size: 2.5em;
  }
}
.home #part-one .container > div p {
  color: var(--dark-grey);
  width: 64%;
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5;
  margin-top: 2em;
  margin-bottom: 4em;
}
@media (max-width: 769px) {
  .home #part-one .container > div p {
    width: 100%;
    color: var(--very-light-gray);
  }
}
.home #part-two {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.home #part-two #zx7-btn {
  padding: 0.7em 2.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: transparent;
  color: var(--txt-black);
  text-transform: uppercase;
  transition: background-color ease 0.7s;
  cursor: pointer;
  border: 1px solid var(--black-bg);
  margin-top: 2.2em;
}
.home #part-two #zx7-btn:hover {
  background-color: var(--black-bg);
  color: white;
}
.home #part-two #part-two-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: white;
  background: var(--light-orange) url(./../assets/images/pattern-circles.svg) no-repeat;
  padding: 4em;
  padding-left: 8em;
  padding-right: 6em;
  border-radius: 12px;
}
@media (max-width: 769px) {
  .home #part-two #part-two-1 {
    flex-direction: column;
    padding: 1em;
    text-align: center;
  }
}
.home #part-two #part-two-1 img {
  width: 40%;
  margin-bottom: -4.4em;
}
@media (max-width: 769px) {
  .home #part-two #part-two-1 img {
    width: 80%;
    margin-bottom: 3em;
  }
}
.home #part-two #part-two-1 div {
  width: 50%;
}
@media (max-width: 769px) {
  .home #part-two #part-two-1 div {
    width: 90%;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}
.home #part-two #part-two-1 div h1 {
  font-size: 4.5em;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 1;
}
@media (max-width: 769px) {
  .home #part-two #part-two-1 div h1 {
    font-size: 3em;
  }
}
.home #part-two #part-two-1 div p {
  font-size: 1em;
  font-weight: 200;
  color: var(--very-light-gray);
  margin: 1.2em 0 4em;
  width: 80%;
  word-spacing: 4px;
}
@media (max-width: 769px) {
  .home #part-two #part-two-1 div p {
    width: 100%;
    margin-bottom: 2em;
  }
}
.home #part-two #part-two-1 div #zx9-btn {
  padding: 0.7em 2.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: black;
  color: white;
  text-transform: uppercase;
  transition: background-color ease 0.7s;
  cursor: pointer;
}
.home #part-two #part-two-1 div #zx9-btn:hover {
  background-color: white;
  color: black;
}
.home #part-two #part-two-2 {
  margin: 3em 0;
  height: 300px;
  border-radius: 12px;
  background: url(./../assets/images/image-speaker-zx7.jpg) no-repeat;
  background-size: cover;
}
@media (max-width: 769px) {
  .home #part-two #part-two-2 {
    margin-top: 3em 0 0;
  }
}
.home #part-two #part-two-2 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 50%;
  height: 100%;
  place-items: center;
  place-content: center;
}
@media (max-width: 769px) {
  .home #part-two #part-two-2 div {
    width: 90%;
    margin: 0 auto;
  }
}
.home #part-two #part-two-3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 4em;
}
@media (max-width: 769px) {
  .home #part-two #part-two-3 {
    flex-direction: column;
  }
  .home #part-two #part-two-3 img {
    margin-top: 3em;
  }
}
.home #part-two #part-two-3 img, .home #part-two #part-two-3 div {
  border-radius: 15px;
  width: 47%;
}
@media (max-width: 769px) {
  .home #part-two #part-two-3 img, .home #part-two #part-two-3 div {
    width: 100%;
  }
}
.home #part-two #part-two-3 div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: var(--very-light-gray);
  place-items: center;
  place-content: center;
}
@media (max-width: 769px) {
  .home #part-two #part-two-3 div {
    margin: 1em 0;
    padding: 2em;
  }
}

.categories {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 12em 0 8em;
}
@media (max-width: 769px) {
  .categories {
    flex-direction: column;
    margin-top: 6em;
    margin-bottom: 2em;
  }
}
.categories div {
  background-color: var(--very-light-gray);
  width: 30%;
  text-align: center;
  padding-bottom: 2.5em;
  color: var(--txt-black);
  border-radius: 1em;
}
.categories div img[alt=category-img] {
  width: 40%;
  margin-top: -3em;
}
@media (max-width: 769px) {
  .categories div {
    width: 90%;
    margin: 0 auto 4em;
  }
}
.categories div h1 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 1.3em;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.categories div a {
  font-size: 0.9em;
  font-weight: 500;
  color: var(--txt-black);
  transition: color 0.7s;
}
.categories div a:hover {
  color: var(--orange);
}
.categories div a img {
  margin-left: 10px;
}

.products-page > .container .product-presentation div {
  width: 40%;
  margin-top: 6em;
}
.products-page > .container .product-presentation div h1 {
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.2;
}
.products-page > .container .product-presentation div h1:first-of-type {
  margin-top: 0.5em;
}
.products-page > .container .product-presentation div h1:last-of-type {
  margin-bottom: 1em;
}
@media (max-width: 769px) {
  .products-page > .container .product-presentation div {
    width: 100%;
    text-align: center;
    margin-top: 2em;
  }
}

body {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
  width: 18px;
  border-radius: 12px;
  background-color: var(--orange);
}
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.products-page {
  color: var(--txt-black);
}
.products-page header {
  background-color: var(--black-bg);
  height: 12em;
  display: flex;
  font-size: 1.5em;
  font-weight: 500;
  text-align: center;
  place-items: center;
  color: white;
  letter-spacing: 3px;
  margin-bottom: 3em;
}
.products-page > .container {
  display: grid;
  gap: 8em;
}
.products-page > .container .product-presentation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.products-page > .container .product-presentation:nth-child(even) {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}
@media (max-width: 769px) {
  .products-page > .container .product-presentation:nth-child(even) {
    flex-direction: column;
  }
}
.products-page > .container .product-presentation img {
  width: 50%;
  border-radius: 1em;
}
.products-page > .container .product-presentation div p {
  margin-bottom: 4em;
}
@media (max-width: 769px) {
  .products-page > .container .product-presentation {
    flex-direction: column;
  }
  .products-page > .container .product-presentation img {
    width: 100%;
    border-radius: 1em;
  }
}
.products-page .categories {
  margin: 2em 0;
}

.product-details .intro .add-product {
  width: 40%;
  margin-top: 6em;
}
.product-details .intro .add-product h1 {
  font-size: 2.2em;
  font-weight: 600;
  line-height: 1.2;
}
.product-details .intro .add-product h1:first-of-type {
  margin-top: 0.5em;
}
.product-details .intro .add-product h1:last-of-type {
  margin-bottom: 1em;
}
@media (max-width: 769px) {
  .product-details .intro .add-product {
    width: 100%;
    text-align: center;
    margin-top: 2em;
  }
}

.product-details .intro .add-product > div .control {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--very-light-gray);
}
.product-details .intro .add-product > div .control span:not(:nth-child(2)) {
  cursor: pointer;
  transition: background-color 0.4s ease;
  font-weight: 500;
  padding-right: 1em;
  padding-left: 1em;
}
.product-details .intro .add-product > div .control span:not(:nth-child(2)):hover {
  background-color: var(--light-gray);
  color: var(--orange);
}

body {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
  width: 18px;
  border-radius: 12px;
  background-color: var(--orange);
}
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.product-details {
  padding: 2em 0;
}
.product-details img {
  border-radius: 12px;
}
.product-details .intro {
  margin: 2em 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-details .intro img {
  width: 50%;
}
.product-details .intro .add-product p {
  margin-bottom: 3em;
}
.product-details .intro .add-product .price {
  font-size: 1.3em;
  font-weight: 700;
}
.product-details .intro .add-product > div {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  margin-top: 2em;
}
@media (max-width: 769px) {
  .product-details .intro .add-product > div {
    flex-direction: column;
  }
}
.product-details .intro .add-product > div .control {
  margin-right: 2em;
}
@media (max-width: 769px) {
  .product-details .intro .add-product > div .control {
    margin-right: 0;
    margin-bottom: 1.5em;
  }
}
.product-details .intro .add-product > div .control span {
  padding: 0.6em 0.7em;
}
.product-details .intro .add-product > div .control span:nth-child(2) {
  padding-left: 0.8em;
  padding-right: 0.8em;
}
@media (max-width: 769px) {
  .product-details .intro {
    flex-direction: column;
  }
  .product-details .intro img {
    width: 100%;
  }
}
.product-details .features-inbox {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10em 0;
}
.product-details .features-inbox h1 {
  margin-bottom: 1.5em;
}
.product-details .features-inbox .features {
  width: 60%;
}
.product-details .features-inbox .in-box {
  width: 30%;
}
.product-details .features-inbox .in-box li {
  color: var(--nav-border);
  margin-bottom: 1em;
}
.product-details .features-inbox .in-box li span {
  color: var(--orange);
  margin-right: 1.5em;
  font-weight: 600;
}
@media (max-width: 769px) {
  .product-details .features-inbox {
    flex-direction: column;
    margin-top: 4em;
    text-align: center;
  }
  .product-details .features-inbox .features,
.product-details .features-inbox .in-box {
    width: 100%;
  }
  .product-details .features-inbox .in-box {
    margin-top: 3.4em;
  }
}
.product-details .gallery {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.product-details .gallery div {
  width: 41%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.product-details .gallery > img {
  width: 57%;
}
@media (max-width: 769px) {
  .product-details .gallery {
    flex-direction: column;
  }
  .product-details .gallery div,
.product-details .gallery > img {
    width: 100%;
  }
  .product-details .gallery img {
    margin-bottom: 1.5em;
  }
}
.product-details .others {
  margin-top: 8em;
  text-align: center;
}
@media (max-width: 769px) {
  .product-details .others {
    margin-top: 4em;
  }
}
.product-details .others .suggestions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 3em;
}
.product-details .others .suggestions .sugg-item {
  width: 32%;
  text-align: center;
}
.product-details .others .suggestions .sugg-item img {
  width: 100%;
}
.product-details .others .suggestions .sugg-item h1 {
  margin: 1.3em 0;
}
@media (max-width: 769px) {
  .product-details .others .suggestions {
    flex-direction: column;
  }
  .product-details .others .suggestions .sugg-item {
    width: 100%;
    margin-bottom: 3em;
  }
}

#best-gear {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 12em;
}
@media (max-width: 769px) {
  #best-gear {
    text-align: center;
    flex-direction: column-reverse;
  }
}
#best-gear img, #best-gear div {
  width: 45%;
}
@media (max-width: 769px) {
  #best-gear img, #best-gear div {
    width: 100%;
  }
}
#best-gear img {
  border-radius: 20px;
}
#best-gear div {
  margin-top: 10em;
}
@media (max-width: 769px) {
  #best-gear div {
    margin-top: 2em;
  }
}
#best-gear div h1 {
  font-size: 2.8em;
  font-weight: 600;
  line-height: 1;
}
#best-gear div h1 span {
  color: var(--orange);
}
#best-gear div p {
  font-size: 1em;
  font-weight: 300;
  color: var(--nav-border);
  margin-top: 3em;
  line-height: 1.6;
}

.checkout .container .checkout-main > div:first-child > div.payment-details > label:first-child .payment-method div, .checkout .container .checkout-main > div:first-child > div label input {
  height: 4.5em;
  border: 1px solid var(--light-gray);
  border-radius: 0.8em;
}

.items-selected .item-selected > div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.items-selected .item-selected > div img {
  width: 3em;
  margin-right: 0.7em;
  border-radius: 5px;
}

body, .order .order-container {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar, .order .order-container::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track, .order .order-container::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb, .order .order-container::-webkit-scrollbar-thumb {
  width: 18px;
  border-radius: 12px;
  background-color: var(--orange);
}
body ::-webkit-scrollbar-thumb:hover, .order .order-container ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.checkout {
  background-color: var(--hard-light-gray);
  margin: 0;
}
.checkout .container {
  padding: 2em 0;
  padding-bottom: 12em;
}
.checkout .container .checkout-main {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout .container .checkout-main > div {
  background-color: white;
  margin-top: 3em;
}
.checkout .container .checkout-main > div h1 {
  font-weight: 500;
}
.checkout .container .checkout-main > div:first-child {
  border-radius: 1.4em;
  width: 67%;
  padding: 3em 3em;
}
.checkout .container .checkout-main > div:first-child h2 {
  font-size: 1em;
  font-weight: 500;
  color: var(--light-orange);
  text-transform: uppercase;
  margin-top: 2em;
  margin-bottom: 1em;
}
.checkout .container .checkout-main > div:first-child > div {
  display: grid;
  gap: 1.4em 1em;
}
.checkout .container .checkout-main > div:first-child > div label {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 0.85em;
  font-weight: 600;
}
.checkout .container .checkout-main > div:first-child > div label input {
  font-size: 1em;
  font-weight: 600;
  margin-top: 0.5em;
  padding-left: 1.5em;
  padding-right: 1.5em;
}
.checkout .container .checkout-main > div:first-child > div label input:not([name=email]) {
  text-transform: capitalize;
}
.checkout .container .checkout-main > div:first-child > div label input:focus {
  border-color: var(--orange);
  border-width: 2px;
}
.checkout .container .checkout-main > div:first-child > div label p {
  position: absolute;
  top: 0;
  right: 0;
  font-weight: 500;
  text-transform: capitalize;
  color: #c92a2a;
}
.checkout .container .checkout-main > div:first-child > div.billing-details {
  grid-template-columns: 48% 48%;
}
.checkout .container .checkout-main > div:first-child > div.shipping-info {
  grid-template-columns: 48%;
}
.checkout .container .checkout-main > div:first-child > div.shipping-info label:first-child {
  grid-column: 1/3;
}
.checkout .container .checkout-main > div:first-child > div.payment-details > label:first-child {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.checkout .container .checkout-main > div:first-child > div.payment-details > label:first-child span {
  text-transform: capitalize;
}
.checkout .container .checkout-main > div:first-child > div.payment-details > label:first-child .payment-method div {
  padding: 0 1.5em;
  margin-bottom: 1em;
  display: flex;
  flex-direction: row;
  justify-content: initial;
  place-items: center;
}
.checkout .container .checkout-main > div:first-child > div.payment-details > label:first-child .payment-method div input {
  margin-right: 1em;
}
.checkout .container .checkout-main > div:first-child > div.payment-details .emoney-checked {
  display: grid;
  grid-template-columns: 48% 48%;
  gap: 4%;
}
.checkout .container .checkout-main > div:last-child {
  width: 30%;
  height: max-content;
  padding: 2.3em 2em;
}
.checkout .container .checkout-main > div:last-child h1 {
  font-size: 1.2em;
  margin-bottom: 2em;
}
.checkout .container .checkout-main > div:last-child p {
  font-weight: 600;
  letter-spacing: 1.4px;
  text-align: center;
  margin-top: 2em;
}
.checkout .container .checkout-main > div:last-child li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-transform: uppercase;
  margin-bottom: 0.5em;
}
.checkout .container .checkout-main > div:last-child li span:first-child {
  color: var(--dark-grey);
}
.checkout .container .checkout-main > div:last-child li span:last-child {
  font-size: 1.4em;
  font-weight: 700;
}
.checkout .container .checkout-main > div:last-child li:last-child {
  margin: 2.4em 0;
}
.checkout .container .checkout-main > div:last-child li:last-child span:last-child {
  color: var(--orange);
}
.checkout .container .checkout-main > div:last-child input {
  width: 100%;
}
@media (max-width: 769px) {
  .checkout .container .checkout-main {
    flex-direction: column;
  }
  .checkout .container .checkout-main > div:first-child,
.checkout .container .checkout-main > div:last-child {
    width: 100%;
  }
  .checkout .container .checkout-main > div:first-child div.billing-details {
    grid-template-columns: 100%;
  }
  .checkout .container .checkout-main > div:first-child div.shipping-info {
    grid-template-columns: 100%;
  }
  .checkout .container .checkout-main > div:first-child div.shipping-info label:first-child {
    grid-column: 1/1;
  }
  .checkout .container .checkout-main > div:first-child div.payment-details > label:first-child {
    display: grid;
  }
  .checkout .container .checkout-main > div:first-child div.payment-details .emoney-checked {
    display: grid;
    grid-template-columns: 100%;
    gap: 4%;
  }
}

.order-bg {
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 2;
  display: none;
}
.order-bg.show {
  display: grid;
}
.order-bg > div {
  width: 100%;
  height: 100%;
}

.order {
  display: none;
  place-items: center;
  place-content: center;
}
.order.show {
  display: grid;
}
.order img, .order h1, .order p,
.order .items-selected,
.order .total {
  padding: 1em 2em;
}
.order h1 {
  padding-top: 0;
  padding-bottom: 0;
}
.order p {
  padding-top: 0;
}
.order .order-container {
  display: none;
  text-align: center;
  position: fixed;
  top: 4em;
  height: 30em;
  width: 25em;
  margin: 0 auto;
  overflow-y: scroll;
  background-color: white;
  z-index: 3;
  border-radius: 12px;
}
.order .order-container.show {
  display: grid;
}
.order .order-container a {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 1em;
}
.order .order-container > div {
  display: flex;
  flex-direction: row;
  justify-content: initial;
}
.order .order-container .items-selected {
  padding: 0 0.4em;
  width: 70%;
}
.order .order-container .items-selected .item-selected {
  padding: 0;
  margin-top: 2em;
  font-size: 1em;
}
.order .order-container .items-selected .item-selected img {
  padding: 0;
}
.order .order-container .total {
  margin-bottom: 3em;
  background-color: var(--black-bg);
  color: var(--light-gray);
  padding: 1em 0.5em;
  width: 30%;
}
.order .order-container .total h2 {
  font-size: 0.75;
  font-weight: 500;
  margin-top: 80%;
}
.order .order-container .total span {
  font-size: 1em;
  font-weight: 600;
  color: white;
}

.items-selected {
  margin-bottom: 2em;
}
.items-selected .item-selected {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 1em;
}
.items-selected .item-selected > div img {
  width: 4em;
}
.items-selected .item-selected > div > div {
  display: flex;
  flex-direction: column;
  justify-content: initial;
}
.items-selected .item-selected > div > div span:first-child {
  font-weight: 600;
}
.items-selected .item-selected > div > div span:last-child {
  color: var(--dark-grey);
}
.items-selected .item-selected > span {
  font-weight: 600;
}

footer {
  background-color: var(--black-bg);
  text-align: center;
}
footer nav .container {
  padding: 0;
  border-bottom: none;
  flex-direction: column;
  place-items: center;
}
footer nav .container > img {
  padding-top: 4.4em;
  border-top: 5px solid var(--orange);
}
@media (max-width: 769px) {
  footer nav .container > img {
    margin: 0;
    width: fit-content;
  }
}
footer nav .container ul {
  padding-top: 4.4em;
}
@media (max-width: 769px) {
  footer nav .container ul {
    padding-top: 3em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  footer nav .container ul li {
    margin: 1em 0 0;
  }
}
footer .container div {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 3em 0 2em;
  place-items: center;
}
@media (max-width: 769px) {
  footer .container div {
    flex-direction: column;
  }
}
footer .container div p {
  width: 47%;
}
@media (max-width: 769px) {
  footer .container div p {
    width: 100%;
  }
}
footer .container div ul {
  width: 12%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 4em;
}
footer .container div ul li:hover {
  color: var(--orange);
}
@media (max-width: 769px) {
  footer .container div ul {
    width: 30%;
  }
}
footer p {
  color: var(--dark-grey);
  line-height: 1.4;
  padding-bottom: 2em;
}

body {
  /* Track */
  /* Handle */
  /* Handle on hover */
}
body::-webkit-scrollbar {
  width: 10px;
}
body::-webkit-scrollbar-track {
  background-color: white;
  border-radius: 12px;
}
body::-webkit-scrollbar-thumb {
  width: 18px;
  border-radius: 12px;
  background-color: var(--orange);
}
body ::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.alert {
  display: none;
  position: fixed;
  z-index: 30;
  border-radius: 18px;
  top: 1em;
  padding: 0.5em 1.5em;
  color: white;
  place-items: center;
  background-color: var(--green);
}
.alert img {
  width: 2em;
  height: 2em;
  margin-right: 0.4em;
}
.alert span {
  font-weight: 700;
}
.alert p {
  font-size: 1em;
  font-weight: 600;
  color: white;
}
.alert.show {
  display: flex;
}

.see-product-btn {
  padding: 0.7em 2.5em;
  font-size: 1em;
  font-weight: 600;
  background-color: var(--orange);
  color: white;
  text-transform: uppercase;
  transition: background-color ease 0.7s;
  cursor: pointer;
}
.see-product-btn:hover {
  background-color: var(--very-light-orange);
  color: white;
}
.see-product-btn.disable {
  cursor: no-drop;
  user-select: none;
  background-color: var(--very-light-orange);
}

.new {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: 0.6em;
  color: var(--orange);
}

.go-back {
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  cursor: pointer;
}
.go-back:hover {
  text-decoration: underline;
}

/*# sourceMappingURL=index.css.map */
