@use 'layout/global_rules';
@use 'layout/navbar';
@use 'layout/home';
@use './layout/categories';
@use './layout/category_page';
@use './layout/product';
@use './layout/best_gear';
@use './layout/footer';